* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.admin-container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.admin-leftside {
    width: 25%;
    /* background-color: #cd6268; */
    background-color: #1d1b27;
    color: #ffffff;
}

.admin-leftside img {
    margin: 1rem auto;
    width: 95%;
    height: 80px;
}

.admin-leftside ul li {
    width: 100%;
    list-style: none;
    margin: 0.5rem;
    padding: 1rem;  
}

.admin-leftside .sidebar-btn{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 550;
    transition: 0.8s;
}

.admin-leftside .sidebar-btn:hover{
    background-color: #ffffff;
    color: #1d1b27;
}

.admin-rightside {
    width: 75%;
    background-color: #f9fbfa;
    display: flex;
    /* margin: 1rem 1.5rem 1rem; */
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
}           

.add-employee-container .employee-form{
    width: 97%;
    /* margin: 3rem auto; */
    border: 2px solid;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.add-employee-container .employee-form .form-column{
    width: 45%;
}

.add-employee-container .holidays-container{
    width: 300px;
}


.add-employee-container form input,
select {
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem 0.2rem;
    border-radius: 0.3rem;
    outline: none;
}

.add-employee-container form button{
    padding: 0.5rem 1.6rem;
    font-size: 1rem;
    margin: 0.5rem auto;
    display: block;
    border-radius: 0.4rem;
    background-color: #cd6268;
    border: 0;
    cursor: pointer;
    transition: 0.9s all ease-in-out;
}

.add-employee-container form button:hover {
    background-color: transparent;
    border: 1px solid;
}

/* employees shows */
.employees-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.employees-container .employee{
    width: 300px;
    padding: 1rem;
    border: 1px solid;
    margin: 1rem 0;
    border-radius: 0.5rem;
}