* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Nunito", sans-serif;
}

/* #1d1b27
white #ffffff\
vilot #4a2dcf
*/

.dashboard-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #efeef3;
}

.left-side {
    width: 23%;
    background-color: #1E2D4E;
    color: #efeef3;
    padding: 1rem 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-side img {
    margin: 0 0 1.2rem;
    width: 150px;
    cursor: pointer;
}

.left-side ul li {
    list-style: none;
}

.left-side .sidebar-btn {
    padding: 0.5rem 1.3rem;
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0.6rem 0;
    display: block;
    border-radius: 0.5rem;
    /* transition: 0.7s ease-in-out; */
}

.left-side .sidebar-btn.active {
    background-color: #D0E1E9;
    color: #050407;
}

.left-side .sidebar-btn span {
    margin-right: 1rem;
}

.right-side {
    width: 100%;
}

.right-side__header {
    padding: 0.4rem 0.6rem;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.right-side__header p {
    margin: 0.2rem 0;
    font-size: 1.3rem;
}

.right-side__header p span {
    font-weight: 650;
}

.line {
    height: 1px;
    width: 98%;
    margin: 0.8rem auto;
    background-color: #3333336c;
}

.leave-boxes__container {
    width: 97%;
    background-color: #ffffff;
    padding: 1.3rem 0.7rem 0.9rem;
    margin: 1rem auto;
    border-radius: 0.4rem;
}

.leave-boxes__container h2 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.leave-boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
}

.leave-box {
    width: 210px;
    min-height: 100px;
    padding: 1rem 0.7rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.leave-box h2 {
    font-size: 2.3rem;
    font-weight: 750;
    width: 30%;
}

.leave-box p {
    width: 70%;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
}

.leave-box.total {
    background-color: #ebf8f1;
}

.leave-box.sick {
    background-color: #eaf6fd;
}

.leave-box.casual {
    background-color: #f6ecfd;
}

.leave-box.earned {
    background-color: hsl(13, 100%, 94%);
}

/* .leave-boxes__container button{
    padding: 0.5rem 1rem;
    border: 0;
    font-size: 1.2rem;
    color: #eaf6fd;
    background-color: #1d1b27;
    margin: 0.5rem 0;
    border-radius: 0.4rem;
    cursor: pointer;
} */



/* leave request table */
.leave-request__section {
    width: 97%;
    margin: auto;
    padding: 1.2rem 0.6rem;
    border-radius: 0.5rem;
    background-color: #fff;
}

.leave-request__section .btn {
    background-color: #050407;
    padding: 0.7rem 1rem;
    color: #eaf6fd;
    border: 0;
    border-radius: 0.5rem;
    cursor: pointer;
}

.leave-request__section h2 {
    display: inline;
    font-weight: 700;
}

.leave-request__section .open-btn {
    float: right;
}

.leave-request__section .close-btn {
    display: block;
    font-size: 1.3rem;
    padding: 0.3rem 0.5rem;
    display: flex;
    justify-content: flex-end;

}




.all-leaverequest {
    width: 100%;
    margin: 1.5rem 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.all-leaverequest table {
    width: 100%;
    border-radius: 0.5rem;
    border-collapse: collapse;
}

.all-leaverequest th,
.all-leaverequest td {
    padding: 12px 1rem;
    font-size: 1rem;
    text-transform: capitalize;
    text-align: left;
}

.all-leaverequest table thead tr th {
    background-color: #f6f6f6;
    font-weight: 600;
    font-size: 1.1rem;
}

.all-leaverequest table tr:nth-child(even) {
    background-color: #f8fafb;
}

.all-leaverequest .action-btn {
    border: 0;
    background: transparent;
    color: red;
    font-size: 1.3rem;
    cursor: pointer;
}

.all-leaverequest .leavestatus {
    padding: 4px 8px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 0.9rem;
    text-align: center;
    /* display: inline-block; */
    display: block;
    margin-top: 0.7rem;
}

.leavestatus.pending {
    background-color: #fff5d6;
    color: #f39c12;
}

.leavestatus.approved {
    background-color: #edfeeb;
    color: #0f6a05;
}

.leavestatus.rejected,
.cancelled {
    background-color: #ffecec;
    color: #850505;
}