.leave-request-container{
    width: 76%;
    display: flex;
    justify-content: space-between;
    margin: 1.5rem auto;
    flex-wrap: wrap;
    align-items: center;
}
.leave-request-card{
    width: 250px;
    border: 2px solid;
    background-color: #FFFFFF;
    border-radius: 1rem;
    text-align: center;
}
.leave-request-card h2{
    font-size: 1.2rem;
    text-transform: uppercase;
    
}