.team-calendar {
  background-color: #0f172a;
  color: white;
  padding: 20px;
  overflow-x: scroll;
}

.calendar-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 10px;
}

.calendar-header button {
  background: #334155;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.calendar-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.calendar-table thead {
  margin: 1.5rem 0;
  display: block;
}

.calendar-table tr {
  display: block;
}

.calendar-table th,
.calendar-table td {
  /* border: 1px solid #475569; */
  padding: 4px 6px;
  color: #fff;

}


.employee-name {
  text-align: left;
  padding-left: 8px;
  font-weight: bold;
  width: 200px;
}



/* Highlight weekends */
.calendar-table td.weekend {
  background-color: #1e293b;
  color: #f1f5f9;
}